<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.errorbros.mapper.HugesoMapper">

<select id="showHugeso" parameterType="String" resultType="com.errorbros.entity.HugesoDTO">
	SELECT rest_idx, rest_nm, rest_addr, lat, lon, rest_facilities, rest_img 
	FROM tb_restarea
	where rest_nm = #{restNm}
</select>































</mapper>